$primary-color: #ECFFED;
$secondary-color: #2E7D32;
//Global scss
* {
    padding: 0;
    margin: 0;
    box-sizing: none;
}

body {
 background-color: $primary-color;
}

//Admin knap
.Admin {
    position: absolute;
    top: 1rem;
    left: 1rem;
  
    button {
      background-color: $secondary-color;
      padding: 0.6rem;
      color: white;
      border-radius: 8px;
      cursor: pointer;
      border: none;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #348b3a;
      }
    }
  }
//_______________________

//Ur og Start knap
.ClockAndStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    div {
      color: $secondary-color;
      font-size: 5rem;
      margin-bottom: 2rem;
    }
  
    button {
      font-size: 2.5rem;
      padding: 0.7rem 3rem;
      cursor: pointer;
      border: none;
      border-radius: 0.313rem;
      background-color: $secondary-color;
      color: $primary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;
      
      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }