.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: #ecffed;
  padding: 16px;
  border-radius: 8px;
  font-family: Arial, sans-serif;

  h2 {
    color: white;
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .options {
    display: flex;
    gap: 10px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background-color: #2e7d3240;
      border-radius: 50%;
      cursor: pointer;
      transition: transform 0.2s, background-color 0.2s;

      svg {
        font-size: 2.8rem;
        color: white;
        transition: color 0.2s, transform 0.2s;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    .selected {
      background-color: #2e7d32;
      transform: scale(1.3);

      svg {
        color: #ffffff;
        transform: scale(1.2);
      }
    }
  }
  @media (min-width: 1200px) {
h2{
  font-size: 2.8rem;
}
    
  }

}
